<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="d-flex align-items-center justify-content-between">
          <h1>Dashboard</h1>

          <button 
          type="button" 
          id="graphMode"
          class="btn btn-primary btn-lg"
          (click)="toggleGraphMode()"
          *ngIf="!graphMode"
          >Exibir dados em gráficos</button>

          <button 
              type="button" 
              id="tableMode"
              class="btn btn-primary btn-lg"
              (click)="toggleGraphMode()"
              *ngIf="graphMode"
              >Exibir dados tabelados</button>
        </div>

        <br /><br />

        <div *ngIf="graphMode" id="graphModeAccess">
          <div [chart]="chart"></div>
          <div [chart]="chartTempo"></div>
        </div>

        <div *ngIf="!graphMode" id="tableModelAcessos">
          <table class="table">
            <tr>
              <th colspan="2">Acessos</th>
            </tr>
            <tr>
              <th>Browser</th>
              <th>Distribuição (%)</th>
            </tr>
            <tr *ngFor="let dados of dadosAcessos">
              <td>{{ dados[0] }}</td>
              <td>{{ mediaAcessos(dados[1]) }}</td>
            </tr>
          </table>
          
          <br /><br />

          <table class="table">
            <tr>
              <th colspan="13">Temperatura</th>
            </tr>
            <tr>
              <th>Cidade</th>
              <th>Jan</th>
              <th>Fev</th>
              <th>Mar</th>
              <th>Abr</th>
              <th>Mai</th>
              <th>Jun</th>
              <th>Jul</th>
              <th>Ago</th>
              <th>Set</th>
              <th>Out</th>
              <th>Nov</th>
              <th>Dez</th>
            </tr>
            <tr *ngFor="let dados of dadosTempo | orderBy: 'name'">
              <td>{{ dados.name }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '01') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '02') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '03') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '04') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '05') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '06') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '07') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '08') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '09') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '10') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '11') }}</td>
              <td>{{ mediaTemperaturaMes(dados.data, '12') }}</td>
            </tr>
          </table>

        </div>
        
      </div>
    </div>
  </div>
</section>