<section>
  <form novalidate #formulario="ngForm" (ngSubmit)="confirmarCadastro(formulario)">

    <div class="container">
      <div class="row">
        
        <div class="col-md-12">
          <h1>Cadastro</h1>
          <p>Informe seus dados para se cadastrar.</p>
          <h2>Dados Pessoais</h2>
        </div>
      
        <div class="form-group col-md-12">
          <label>Nome</label>
          <input 
          type="text" 
          class="form-control" 
          autocomplete="off" 
          required
          id="fullName"
          name="fullName"
          #inputNome="ngModel"
          ngModel>
          <span *ngIf="!inputNome.valid && inputNome.touched" class="form-text text-danger">Campo obrigatório</span>
        </div>     

        <div class="form-group col-md-4">
          <label>Data de Nascimento</label>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Ex: 99/99/9999" 
          autocomplete="off" 
          required
          id="birthDate"
          name="birthDate"
          #inputData="ngModel"
          ngModel>
          <span *ngIf="!inputData.valid && inputData.touched" class="form-text text-danger">Campo obrigatório</span>
        </div>        

        <div class="form-group col-md-4">
          <label>E-mail</label>
          <input 
            type="email" 
            class="form-control" 
            placeholder="Ex: seuemail@provedor.com" 
            autocomplete="off" 
            required
            id="email"
            name="email"
            #inputEmail="ngModel"
            ngModel>
            <span *ngIf="!inputEmail.valid && inputEmail.touched" class="form-text text-danger">Campo obrigatório</span>
          </div>     
        
        <div class="form-group col-md-4">
          <label>Senha</label>
          <input 
            type="text" 
            class="form-control" 
            autocomplete="off" 
            required
            id="password"
            name="password"
            #inputSenha="ngModel"
            ngModel >
            <span *ngIf="!inputSenha.valid && inputSenha.touched" class="form-text text-danger">Campo obrigatório</span>
          </div>       
              
        <div class="col-md-12">
          <h2>Endereço</h2>
        </div>

        <div class="form-group col-md-4">
          <label>CEP</label>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Ex: 99999-999" 
          autocomplete="off" 
          required
          id="zipCode"
          name="zipCode"
          #inputCep="ngModel"
          ngModel>
          <span *ngIf="!inputCep.valid && inputCep.touched" class="form-text text-danger">Campo obrigatório</span>
        </div> 

        <div class="form-group col-md-9">
          <label>Rua</label>
          <input 
          type="text" 
          class="form-control" 
          autocomplete="off" 
          required
          id="streetName"
          name="streetName"
          #inputRua="ngModel"
          ngModel>
          <span *ngIf="!inputRua.valid && inputRua.touched" class="form-text text-danger">Campo obrigatório</span>
        </div> 

        <div class="form-group col-md-3">
            <label>Número</label>
          <input 
          type="text" 
          class="form-control" 
          autocomplete="off" 
          required
          id="number"
          name="number"
          #inputNumero="ngModel"
          ngModel>
          <span *ngIf="!inputNumero.valid && inputNumero.touched" class="form-text text-danger">Campo obrigatório</span>
        </div> 

        <div class="form-group col-md-12">
          <label>Complemento <small>(opcional)</small></label>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Ex: Apartamento, bloco" 
          autocomplete="off" 
          id="complement"
          name="complement"
          #inputComplemento="ngModel"
          ngModel>
        </div> 

        <div class="form-group col-md-4">
          <label>País</label>
          <select 
          class="form-control"
          id="country"
          name="country"
          #selectPais="ngModel"
          required
          ngModel>
            <option>Selecione ...</option>
            <option *ngFor="let pais of paises" value="{{pais.id}}">{{pais.name}}</option>
          </select>
          <span *ngIf="!selectPais.valid && selectPais.touched" class="form-text text-danger">Campo obrigatório</span>
        </div> 

        <div class="form-group col-md-4">
            <label>Estado</label>
            <input 
            type="text" 
            class="form-control" 
            autocomplete="off" 
            required
            id="state"
            name="state"
            #inputEstado="ngModel"
            ngModel>
            <span *ngIf="!inputEstado.valid && inputEstado.touched" class="form-text text-danger">Campo obrigatório</span>
          </div>

        <div class="form-group col-md-4">
            <label>Cidade</label>
            <input 
            type="text" 
            class="form-control" 
            autocomplete="off" 
            required
            id="city"
            name="city"
            #inputCidade="ngModel"
            ngModel>
            <span *ngIf="!inputCidade.valid && inputCidade.touched" class="form-text text-danger">Campo obrigatório</span>
          </div>

        <div class="col-md-12">
          <button 
            type="submit" 
            id="submit"
            class="btn btn-primary btn-lg"
            >Cadastrar</button>
        </div>

      </div>
    </div>
  </form>
</section>
